* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background-size: 100vw 100vh;
  object-fit: cover;
}

.hidden {
  display: none;
}

#top {
  display: flex;
  justify-content: flex-end;
  padding-top: 11px;
  padding-right: 20px;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather {
  font-size: 1.625rem;
}

.load {
  font-size: 1.625rem;
  text-align: center;
  height: 50px;
}

#middle {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
  font-weight: 500;
  font-size: 1050%;
  height: 170px;
}

#bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

#quotes {
  display: flex;
  justify-content: center;
}

#quotes span:first-child {
  margin-right: 10px;
}

.greeting {
  font-size: 337.5%;
  margin-bottom: 100px;
}

#todoForm input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  width: 510px;
  font-size: 2.25em;
  text-align: center;
}

.question {
  font-size: 2.1875em;
  font-weight: 600;
  margin-bottom: 20px;
}

#todoList {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#todoList li {
  display: flex;
  align-items: center;
}

#todoList li span {
  margin-right: 15px;
  font-size: 30px;
}

#todoList li button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#loginForm input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  width: 510px;
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 30px;
}
